.first-container{
    display: flex !important;
    margin: 10px 20px 20px 20px;
    flex-direction: row !important;
    justify-content:space-between;
    align-items:center
}
.titlecontainerleft{
    color : #58A6FF;
    margin-left: 15px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titlecontainerleft>h2{
    margin-left: 15px;
    font-weight: normal;
    font-size: 22px;

}
.titlecontainerleft>h2 strong{
    font-weight: bold;
}
.custom-button{
    background-color: #161B22;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #8B949E;
    box-sizing: border-box;
    font-family:  'Open Sans';
    font-style: normal;
    text-align: center;
    margin: 15px 5px ;
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
    width:auto;
    min-height:auto;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button> :nth-child(1){
    margin-right: 5px !important;
}

.rightcontainer{
    display: flex;
    flex-direction: row !important;
}
.statut-repos{
    color:#8B949E ;
    border-radius: 15px;
    border: 1px solid #8B949E;
    padding:0 5px;
    margin: 10px;
    font-size: 13px
}
